main .card-style {
  background-color: #f1d5d3;
  color: #131212;
  height: 100%; }

main .card-style img {
  height: 250px;
  object-fit: contain; }

header {
  background-color: #070606f1; }
  header h1 {
    color: #070606f1; }
  header a {
    text-decoration: none;
    font-size: 40px;
    color: #eee7e7; }
  header .img-logo {
    width: 80px; }

main .card-style {
  background-color: #f1d5d3;
  color: #131212;
  height: 100%; }

main .card-style img {
  height: 250px;
  object-fit: contain; }

footer {
  background-color: #5f5c5c; }
  footer h5 {
    color: #070606f1;
    margin-bottom: 20px; }
  footer nav li a:hover {
    background-color: #383636; }
  footer nav li a {
    text-decoration: none; }
  footer nav li img {
    width: 20px; }
  footer ul li img {
    width: 20px; }

main .card-style {
  background-color: #f1d5d3;
  color: #131212;
  height: 100%; }

main .card-style img {
  height: 250px;
  object-fit: contain; }

main .card-style {
  background-color: #f1d5d3;
  color: #131212;
  height: 100%; }

main .card-style img {
  height: 250px;
  object-fit: contain; }

main {
  background-image: url(../multimedia/imagenes/wallpaper-neon.jpg);
  padding-top: 100px;
  margin-bottom: 0%; }
  main .carousel-edit {
    height: 600px; }
  @media only screen and (max-width: 991px) {
    main .carousel-edit {
      height: auto; } }
  main .articulos-main {
    display: none; }
  @media screen and (min-width: 600px) {
    main .articulos-main {
      display: block; } }
  main .item-fixed {
    position: fixed;
    bottom: 0;
    right: 0; }
  main .item-fixed img {
    width: 70px; }
  main .ul-whatsapp {
    list-style-type: none;
    margin: 0%; }

.disclaimer {
  display: none; }

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
